<a href="https://colab.research.google.com/github/majaturkalj/python-journey/blob/main/02_NUMBERS_Python_for_GIS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

INTEGERS

In [ ]:
################################################################################
## INTEGER (int)
##  An integer is used to represent whole numbers.
##   - Integers are whole numbers without a decimal point.
##   - Integers can be positive or negative.
##
##  Reference: https://www.w3schools.com/python/python_numbers.asp
##
################################################################################

In [3]:
#POSITIVE INTEGER
population = 2500
print(type(population))
print(population)

<class 'int'>
2500

In [4]:
#NEGATIVE INTEGER
temperature = -5
print(type(temperature))
print(temperature)

<class 'int'>
-5

In [5]:
#int()
dolphin_count = int(16)
print(type(dolphin_count))
print(dolphin_count)

<class 'int'>
16

In [6]:
#CAST WITH int()
str_number = "25"
print(type(str_number))
species_count = int(str_number)
print(type(species_count))
print(species_count)

<class 'str'>
<class 'int'>
25

In [7]:
#####
#EXERCISE
#Take the two variables below and cast them to an int type object: decimal_num = 10.45 string = "GIS"
#####
decimal_num = 10.45
print(type(decimal_num))
string = "GIS"
print(type(string))

<class 'float'>
<class 'str'>

In [8]:
decimal_num = 10.45
decimal_num_to_int = int(decimal_num)
print(type(decimal_num_to_int))

<class 'int'>

In [19]:
#str_number = "GIS": can not be converted to integer because it is a string and not numerical value

FLOAT

In [ ]:
################################################################################
## FLOAT (float)
##  An floating point number is used to represent decimals / fractions
##   - Floats are numbers with a decimal point.
##   - Floats can be positive or negative.
##
##  https://www.w3schools.com/python/python_numbers.asp
##
################################################################################

In [14]:
#POSITIVE FLOAT
height_m = 10.5
print(type(height_m))
print(height_m)

<class 'float'>
10.5

In [15]:
#NEGATIVE FLOAT
longitude = -6.3628
print(type(longitude))
print(longitude)

<class 'float'>
-6.3628

In [16]:
#float()
latitude = float(54.098)
print(type(latitude))
print(latitude)

<class 'float'>
54.098

In [17]:
#CAST WITH float()
str_number = "25.075"
print(type(str_number))
flt_number = float(str_number)
print(type(flt_number))
print(flt_number)

<class 'str'>
<class 'float'>
25.075

In [18]:
print("\nSCRIPT COMPLETE")

SCRIPT COMPLETE

In [23]:
#####
#EXERCISE
#Take the two variables below and cast them to an float type object
#string = "GIS": can not be converted to float because it is a string and not numerical value
#####
num = 10
num_to_float = float(num)
print(type(num_to_float))
print(num_to_float)
num_string = "55"
string_to_float = float(num_string)
print(type(string_to_float))
print(string_to_float)

<class 'float'>
10.0
<class 'float'>
55.0

BOOLEAN

In [ ]:
################################################################################
## BOOLEAN (bool)
##  While not exactly a numerical data type, but used to represent binary values
##   - True, or
##   - False
##
##  Can be used in logical operators and comparisons as we will see later in the
##  course
##
##  Reference: https://www.w3schools.com/python/python_booleans.asp
##
################################################################################

In [24]:
#TRUE BOOLEAN
data_exists = True
print(type(data_exists))
print(data_exists)

<class 'bool'>
True

In [25]:
#FALSE BOOLEAN
life_on_mars = False
print(type(life_on_mars))
print(life_on_mars)

<class 'bool'>
False

In [26]:
#bool()
gis_is_fantastic = bool(True)
print(type(gis_is_fantastic))
print(gis_is_fantastic)

<class 'bool'>
True

In [27]:
#CAST with bool()
num0 = 0
num1 = 1

num0_bool = bool(num0)
num1_bool = bool(num1)

print(type(num0_bool))
print(type(num1_bool))

print(num0_bool)
print(num1_bool)

<class 'bool'>
<class 'bool'>
False
True

In [28]:
num0 = 0
num1 = 1

print(type(num0))
print(num0)

print(type(num1))
print(num1)

<class 'int'>
0
<class 'int'>
1

In [ ]:
#####
#EXERCISE
#Take the three variables below and cast them to an boolean
null = None
empty_string = ""
string = "GIS"
#####

In [29]:
null = None
null_bool = bool(None)
print(type(null_bool))
print(null_bool)

<class 'bool'>
False

In [30]:
empty_string = ""
empty_string_bool = bool("")
print(type(empty_string_bool))
print(empty_string_bool)

<class 'bool'>
False

In [31]:
string = "GIS"
string_bool = bool("GIS")
print(type(string_bool))
print(string_bool)

<class 'bool'>
True