<a href="https://colab.research.google.com/github/majaturkalj/python-journey/blob/main/02_NUMBERS_Python_for_GIS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

INTEGERS

In [ ]:
################################################################################
## INTEGER (int)
##  An integer is used to represent whole numbers.
##   - Integers are whole numbers without a decimal point.
##   - Integers can be positive or negative.
##
##  Reference: https://www.w3schools.com/python/python_numbers.asp
##
################################################################################

In [3]:
#POSITIVE INTEGER
population = 2500
print(type(population))
print(population)

<class 'int'>
2500

In [4]:
#NEGATIVE INTEGER
temperature = -5
print(type(temperature))
print(temperature)

<class 'int'>
-5

In [5]:
#int()
dolphin_count = int(16)
print(type(dolphin_count))
print(dolphin_count)

<class 'int'>
16

In [6]:
#CAST WITH int()
str_number = "25"
print(type(str_number))
species_count = int(str_number)
print(type(species_count))
print(species_count)

<class 'str'>
<class 'int'>
25

In [7]:
#####
#EXERCISE
#Take the two variables below and cast them to an int type object: decimal_num = 10.45 string = "GIS"
#####
decimal_num = 10.45
print(type(decimal_num))
string = "GIS"
print(type(string))

<class 'float'>
<class 'str'>

In [8]:
decimal_num = 10.45
decimal_num_to_int = int(decimal_num)
print(type(decimal_num_to_int))

<class 'int'>

In [13]:
str_number = "GIS"
str_number_to_int = int(str_number)
print(type(str_number_to_int))

ValueError: invalid literal for int() with base 10: 'GIS'

FLOAT

In [ ]:
################################################################################
## FLOAT (float)
##  An floating point number is used to represent decimals / fractions
##   - Floats are numbers with a decimal point.
##   - Floats can be positive or negative.
##
##  https://www.w3schools.com/python/python_numbers.asp
##
################################################################################

In [14]:
#POSITIVE FLOAT
height_m = 10.5
print(type(height_m))
print(height_m)

<class 'float'>
10.5

In [15]:
#NEGATIVE FLOAT
longitude = -6.3628
print(type(longitude))
print(longitude)

<class 'float'>
-6.3628

In [16]:
#float()
latitude = float(54.098)
print(type(latitude))
print(latitude)

<class 'float'>
54.098

In [17]:
#CAST WITH float()
str_number = "25.075"
print(type(str_number))
flt_number = float(str_number)
print(type(flt_number))
print(flt_number)

<class 'str'>
<class 'float'>
25.075

In [18]:
print("\nSCRIPT COMPLETE")

SCRIPT COMPLETE

FLOAT