<a href="https://colab.research.google.com/github/majaturkalj/python-journey/blob/main/03_STRINGS_Python_for_GIS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
################################################################################
## STRINGS
##  - A string is enclosed in single '', double "", or triple """ quotation marks.
##  - A string is a finite sequence of characters. Characters can be letter,
##    numbers, symbols, and spaces.
##  - A string is immutable, it cannot be altered in place. Once defined, the
##    string variable needs to be overwritten in order to alter.
##  - A string is iterable, you can cycle through each character in the string
##    individually.
##
##  Reference: https://www.w3schools.com/python/python_strings.asp
##
################################################################################

In [1]:
## ASSIGN A STRING TO A VARIABLE
##  TIP: use double quotation marks as the default when assigning
##  strings. Often, with GIS data, you need to filter data using SQL type
##  expressions, for example "CITYNAME = 'Dublin'"
city = "Dublin"
print(city)

sql_exp = "COUNTY = 'Dublin'"
print(city)

Dublin
Dublin