<a href="https://colab.research.google.com/github/majaturkalj/python-journey/blob/main/04_LISTS_Python_for_GIS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
## 04. LISTS
################################################################################
## LISTS
##  Lists are fundamental to GIS workflows with Python
##  Lists are ordered and mutable collections of elements, allowing for the
##  storage and manipulation of multiple values within a single variable.
##  List index begins at zero.
##  They can contain different objects.
##  A list can contain a mixture of strings, numbers, and other lists for example.
##
################################################################################

In [2]:
## 04.01 CREATING A LIST
################################################################################
## DECLARING A LIST VARIABLE

## empty list
empty_list = []
print(empty_list)

[]

In [3]:
empty_list = list()
print(empty_list)

[]

In [4]:
country_list = ["Ireland", "USA", "Germany", "Colombia", "Japan", "Ghana"]
print(country_list)

['Ireland', 'USA', 'Germany', 'Colombia', 'Japan', 'Ghana']

In [5]:
population_list = list[2500, 1500000, 19000000]
print(population_list)

list[2500, 1500000, 19000000]

In [6]:
mixed_list = ["GIS", 10, True, 15.76, ["1", 2, False]]
print(mixed_list)

['GIS', 10, True, 15.76, ['1', 2, False]]

In [7]:
################################################################################
## CASTING AN ITERABLE TO A LIST
text = "geospatial"
letter_list = list(text)
print(letter_list)

['g', 'e', 'o', 's', 'p', 'a', 't', 'i', 'a', 'l']

In [ ]:
## 04.02 INDEXING AND SLICING A LIST
################################################################################
## LIST SLICING
##  Return a specific element of a list or a targeted sliced subsection of
##  elements returned as a list.
##
################################################################################

In [8]:
country_list = ["Ireland", "USA", "Germany", "Colombia", "Japan", "Ghana"]
################################################################################
## select and individual elements

## forward indexing
print(country_list[0])
print(country_list[2])
print(country_list[5])

Ireland
Germany
Ghana

In [9]:
## backwards indexing
print(country_list[-1])
print(country_list[-2])
print(country_list[-6])

Ghana
Japan
Ireland

In [10]:
################################################################################
## subset of list via slicing
print(country_list[1:4])

['USA', 'Germany', 'Colombia']

In [11]:
print(country_list[:])

['Ireland', 'USA', 'Germany', 'Colombia', 'Japan', 'Ghana']

In [12]:
print(country_list[:4])

['Ireland', 'USA', 'Germany', 'Colombia']

In [13]:
print(country_list[2:])

['Germany', 'Colombia', 'Japan', 'Ghana']

In [14]:
###############################################################################
## stepping
num_list = [1,2,3,4,5,6,7,8,9,10]
print(num_list[::2])

[1, 3, 5, 7, 9]

In [19]:
## What happens if you enter an index greater than the length of the list
## minus one?
print(len(num_list))

10

In [ ]:
print(num_list[len(num_list)]) # needs to be len(num_list) - 1
##IndexError: list index out of range

In [ ]:
## 04.03 LIST MUTABILITY
################################################################################
##  Lists are mutable meaning you can alter a list in place. This is different
##  in comparison to a string where we had to overwrite the original variable
##  for an alteration to persist. With lists, any alteration occurs and
##  persists for the original variable.
##
## Lists can be modified after creation, allowing operations such as appending,
## removing, or changing elements.
################################################################################

In [21]:
country_list = ["Ireland", "USA", "Germany", "Colombia", "Japan", "Ghana"]
################################################################################
## alter an element value

country_list[0] = "Denmark"
print(country_list)

['Denmark', 'USA', 'Germany', 'Colombia', 'Japan', 'Ghana']

In [22]:
country_list[-2] = "Malaysia"
print(country_list)

['Denmark', 'USA', 'Germany', 'Colombia', 'Malaysia', 'Ghana']

In [23]:
################################################################################
## alter using list methods

country_list.append("Mexico")
print(country_list)

['Denmark', 'USA', 'Germany', 'Colombia', 'Malaysia', 'Ghana', 'Mexico']

In [24]:
country_list.remove("Germany")
print(country_list)

['Denmark', 'USA', 'Colombia', 'Malaysia', 'Ghana', 'Mexico']

In [25]:
################################################################################
## extend a list with concatenation - doesnt alter, needs to reassigned
country_list + ["France", "Canada"]
print(country_list)

['Denmark', 'USA', 'Colombia', 'Malaysia', 'Ghana', 'Mexico']

In [26]:
country_list = country_list + ["France", "Canada"]
print(country_list)

['Denmark', 'USA', 'Colombia', 'Malaysia', 'Ghana', 'Mexico', 'France', 'Canada']

In [27]:
country_list += ["Nigeria", "Fiji"]
print(country_list)

['Denmark', 'USA', 'Colombia', 'Malaysia', 'Ghana', 'Mexico', 'France', 'Canada', 'Nigeria', 'Fiji']

In [ ]:
## 04.04 NESTED LISTS
################################################################################
##  A list can contain nested lists. A list can contain multiple list and this
##  functionality lends itself well to GIS when it comes to defining
##  features (records) and their attribute values and geometry.
##
################################################################################

In [28]:
## create a list of lists
feature_1 = ["Ireland", "Dublin", 6500000, "Geom"]
feature_2 = ["England", "London", 9650000, "Geom"]
feature_3 = ["France", "Paris", 11200000, "Geom"]

all_features = [feature_1, feature_2, feature_3]

print(all_features)

[['Ireland', 'Dublin', 6500000, 'Geom'], ['England', 'London', 9650000, 'Geom'], ['France', 'Paris', 11200000, 'Geom']]

In [29]:
## accessing indivual lists
print(all_features[0])
print(all_features[-2])

['Ireland', 'Dublin', 6500000, 'Geom']
['England', 'London', 9650000, 'Geom']

In [30]:
## accessing indivual elements of a nested list
print(all_features[0][1])
print(all_features[-2][2])

Dublin
9650000

In [31]:
## CHALENGE
my_list = [[0,1,2,[3,4,5,[6,7,8]]], [9,[10,11,13,[14,14,16]],17,18]]
## start by printing the elements in the outer-most list
print(my_list[0])

[0, 1, 2, [3, 4, 5, [6, 7, 8]]]

In [32]:
print(my_list[1])

[9, [10, 11, 13, [14, 14, 16]], 17, 18]

In [34]:
## access the nested list of the first element
print(my_list[0][3])

[3, 4, 5, [6, 7, 8]]

In [35]:
## access the nested list of the second element
print(my_list[1][1])

[10, 11, 13, [14, 14, 16]]

In [36]:
## access the nested list of the nested list in the first element
print(my_list[0][3][3])
print(my_list[1][1][3])

[6, 7, 8]
[14, 14, 16]

In [38]:
## access the second element of nested list of the nested list in the first element
print(my_list[0][3][3][1])
print(my_list[1][1][3][1])

7
14

In [ ]:
## 04.05 LENGTH & MEMBERSHIP
################################################################################
##  Always remember that the maximum positiional index is the length of the list
##  minus one. The length of a list in Python refers to the number of elements
##  contained within the list.
##  Check membership with in or not in
################################################################################

In [39]:
country_list = ["Ireland", "USA", "Germany", "Colombia", "Japan", "Ghana"]
empty_list = []

print(len(country_list))
print(len(empty_list))

6
0

In [46]:
## length is dynamic - if we add or remove an element the length of the list
## reflects this change.
country_list.append("Vietnam")

print(country_list)
print(len(country_list))

['Ireland', 'USA', 'Germany', 'Colombia', 'Japan', 'Ghana', 'Vietnam']
7

In [47]:
## you can always access the last element with length of list minus one
index = len(country_list) - 1
print(country_list[index])

Vietnam

In [49]:
## length is per object
my_list = [[1,2], [3,4,5,6]]

print(len(my_list))

2

In [50]:
## check membership with 'in' keyword
print("Ireland" in country_list)

country = "Jamaica"
print(country in country_list)

True
False

In [51]:
## check membership with 'not in' keywords
print("Ireland" not in country_list)
print(country not in country_list)

False
True

In [ ]:
## 04.06 UNPACKING A LIST
################################################################################
##  Unpacking a list in Python refers to the process of extracting elements
##  from a list and assigning them to individual variables
################################################################################

In [52]:
## Basic Unpacking
country_list = ["Ireland", "USA", "Germany"]
ire, usa, ger = country_list
print(ire)
print(usa)
print(ger)

Ireland
USA
Germany

In [ ]:
## what happens if the variables are less or more than the list length?

## ValueError: too many values to unpack (expected X)
##ire, usa = country_list

## ValueError: not enough values to unpack (expected X, got X)
##ire, usa, ger, col = country_list

In [53]:
## slighly more advanced unpdacking
country_list = ["Ireland", "USA", "Germany", "Colombia", "Japan", "Ghana"]
ire, usa, *other = country_list
print(ire)
print(usa)
print(other)

Ireland
USA
['Germany', 'Colombia', 'Japan', 'Ghana']

In [ ]:
## 04.07 LIST METHODS
################################################################################
##  List methods in Python are built-in functions that are specific to lists
##  and allow you to perform various operations on list objects.
##  These methods provide convenient ways to manipulate and extract
##  information from a list.
################################################################################

In [57]:
majas_list = []
## append()
majas_list.append("Ireland")
majas_list.append(2500)
print(majas_list)

['Ireland', 2500]

In [2]:
## extend()
majas_list = []
majas_list.extend(["GIS", 1, True])
print(majas_list)

['GIS', 1, True]

In [3]:
## pop()
majas_list.pop()
print(majas_list)

['GIS', 1]

In [4]:
popped = majas_list.pop(1)
print(majas_list)
print(popped)

['GIS']
1

In [5]:
## insert()
majas_list.insert(1, "Dublin")
print(majas_list)

['GIS', 'Dublin']

In [6]:
## sort()
majas_list.sort()
print(majas_list)

['Dublin', 'GIS']

In [7]:
## reverse()
majas_list.reverse()
print(majas_list)

['GIS', 'Dublin']

In [8]:
## remove()
majas_list.remove("GIS")
print(majas_list)

['Dublin']

In [9]:
## clear()
majas_list.clear()
print(majas_list)

[]