<a href="https://colab.research.google.com/github/majaturkalj/python-journey/blob/main/06_DICTIONARIES_Python_for_GIS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
################################################################################
## DICTIONARIES
##  Dictionaries are fundamental to GIS workflows with Python
##  Dictionaries are ordered and mutable collections of key:value pairs,
##  allowing for the storage and manipulation of multiple values within a
##  single variable.
##  Access the value in a dictionary using the key.
##  A key must be an immutable data type (string, number, tuple)
##  A value can be any data/object type.
################################################################################

In [ ]:
## 06.01 DECLARING A DICTIONARY VARIABLE
## empty dictionary
empty_dict = {}
print(type(empty_dict))
print(empty_dict)

<class 'dict'>
{}

In [ ]:
empty_dict = dict()
print(empty_dict)

{}

In [ ]:
num_dict = {1 : "One", 2 : "Two", 3 : "Three"}
print(num_dict)

{1: 'One', 2: 'Two', 3: 'Three'}

In [ ]:
mixed_dict = {"string" : "hello", "tuple" : (-6.23, 53.35), 123 : 123}
print(mixed_dict)

{'string': 'hello', 'tuple': (-6.23, 53.35), 123: 123}

In [ ]:
## 06.02 ACCESSING DICTIONARY VALUES
##  To access values we use the variable name that represents the dictionary
##  followed bt square brackets. Instead of using indexing we simply use
##  the key name to retrive the value associated with that key
################################################################################

In [ ]:
attributes = {
    "country" : "Ireland",
    "capital" : "Dublin",
    "population" : 6500000,
    "continent" : "Europe",
    "avg_sum_temp" : 13.5,
    "last_visit" : "17/03/2024",
    "geometry" : "geometry object"
}

In [ ]:
print(attributes)

{'country': 'Ireland', 'capital': 'Dublin', 'population': 6500000, 'continent': 'Europe', 'avg_sum_temp': 13.5, 'last_visit': '17/03/2024', 'geometry': 'geometry object'}

In [ ]:
## KeyError
## print(attributes[0])

In [ ]:
print(attributes["country"])

Ireland

In [ ]:
print(attributes["population"])

6500000

In [ ]:
print(attributes["avg_sum_temp"])

13.5

In [ ]:
## KeyError
## print(attributes["avg_sum_temps"])

In [ ]:
## 06.03 ADDING and MODIFYING DICTIONARY ENTRIES
##  Adding new and modifying existing entries are handled the same way.
##  We use the square brackets [] and isolate the key we want to update the
##  value for, and then use assignment, which is the = to apply and new value
##  If we use a key and assignment for a keyname that does not already exists,
##  it is added to the dictionary as a new key:value pair.
################################################################################

In [ ]:
attributes = {
    "country" : "Ireland",
    "capital" : "Dublin",
    "population" : 6500000,
    "continent" : "Europe",
    "avg_sum_temp" : 13.5,
    "last_visit" : "17/03/2024",
    "geometry" : "geometry object"
}

In [ ]:
## MODIFY VALUES
attributes["avg_sum_temp"] = 20.0
print(attributes["avg_sum_temp"])

20.0

In [ ]:
attributes["last_visit"] = None
print(attributes["last_visit"])

None

In [ ]:
print(attributes)

{'country': 'Ireland', 'capital': 'Dublin', 'population': 6500000, 'continent': 'Europe', 'avg_sum_temp': 20.0, 'last_visit': None, 'geometry': 'geometry object'}

In [ ]:
## ADD NEW KEY:VALUE
attributes["life_expect"] = 82
print(attributes)

{'country': 'Ireland', 'capital': 'Dublin', 'population': 6500000, 'continent': 'Europe', 'avg_sum_temp': 20.0, 'last_visit': None, 'geometry': 'geometry object', 'life_expect': 82}

In [ ]:
## 06.04 REMOVING DICTIONARY ENTRIES
##  There are three options:
##   del
##   .pop()
##   .popitem()
################################################################################

In [ ]:
attributes = {
    "country" : "Ireland",
    "capital" : "Dublin",
    "population" : 6500000,
    "continent" : "Europe",
    "avg_sum_temp" : 20.0,
    "last_visit" : None,
    "geometry" : "geometry object",
    "life_expect" : 82
}

In [ ]:
## DELETE
del attributes["last_visit"]
print(attributes)

{'country': 'Ireland', 'capital': 'Dublin', 'population': 6500000, 'continent': 'Europe', 'avg_sum_temp': 20.0, 'geometry': 'geometry object', 'life_expect': 82}

In [ ]:
## POP
popped = attributes.pop("capital")
print(popped)
print(attributes)

Dublin
{'country': 'Ireland', 'population': 6500000, 'continent': 'Europe', 'avg_sum_temp': 20.0, 'geometry': 'geometry object', 'life_expect': 82}

In [ ]:
## POPITEM
last_item = attributes.popitem()
print(last_item)
print(attributes)

('life_expect', 82)
{'country': 'Ireland', 'population': 6500000, 'continent': 'Europe', 'avg_sum_temp': 20.0, 'geometry': 'geometry object'}

In [ ]:
## 06.05 DICTIONARY METHODS
##  Dictionary methods in Python are built-in functions that are specific to
##  dictionaries and allow you to perform various operations on dictionary
##  objects. These methods provide convenient ways to manipulate and extract
##  information from a dictionary
##
##  You know the drill! Fill in your workbook.
################################################################################

In [ ]:
attributes = {
    "country" : "Ireland",
    "capital" : "Dublin",
    "population" : 6500000,
    "continent" : "Europe",
    "avg_sum_temp" : 20.0,
    "last_visit" : None,
    "geometry" : "geometry object",
    "life_expect" : 82
}

In [ ]:
## KEYS
keys = attributes.keys()
print(type(keys))
print(keys)

<class 'dict_keys'>
dict_keys(['country', 'capital', 'population', 'continent', 'avg_sum_temp', 'last_visit', 'geometry', 'life_expect'])

In [ ]:
keys_list = list(attributes.keys())
print(type(keys_list))
print(keys_list)

<class 'list'>
['country', 'capital', 'population', 'continent', 'avg_sum_temp', 'last_visit', 'geometry', 'life_expect']

In [ ]:
## VALUES
values = attributes.values()
print(type(values))
print(values)

<class 'dict_values'>
dict_values(['Ireland', 'Dublin', 6500000, 'Europe', 20.0, None, 'geometry object', 82])

In [ ]:
values_list = list(attributes.values())
print(type(values_list))
print(values_list)

<class 'list'>
['Ireland', 'Dublin', 6500000, 'Europe', 20.0, None, 'geometry object', 82]

In [ ]:
## ITEMS
items = attributes.items()
print(type(items))
print(items)

<class 'dict_items'>
dict_items([('country', 'Ireland'), ('capital', 'Dublin'), ('population', 6500000), ('continent', 'Europe'), ('avg_sum_temp', 20.0), ('last_visit', None), ('geometry', 'geometry object'), ('life_expect', 82)])

In [ ]:
items_list = list(attributes.items())
print(type(items_list))
print(items_list)

<class 'list'>
[('country', 'Ireland'), ('capital', 'Dublin'), ('population', 6500000), ('continent', 'Europe'), ('avg_sum_temp', 20.0), ('last_visit', None), ('geometry', 'geometry object'), ('life_expect', 82)]

In [ ]:
## UPDATE
dict_update = [("country", "France"), ("capital", "Paris"), ("currency", "Euro")]
attributes.update(dict_update)
print(attributes)

{'country': 'France', 'capital': 'Paris', 'population': 6500000, 'continent': 'Europe', 'avg_sum_temp': 20.0, 'last_visit': None, 'geometry': 'geometry object', 'life_expect': 82, 'currency': 'Euro'}

In [ ]:
## CLEAR
attributes.clear()
print(attributes)

{}

In [ ]:
## 06.06 DICTIONARY MEMBERSHIP
##  Check membership with in or not in.
##  Membership will always return a Boolean; True of False.
##
################################################################################

In [ ]:
attributes = {
    "country" : "Ireland",
    "capital" : "Dublin",
    "population" : 6500000,
    "continent" : "Europe",
    "avg_sum_temp" : 20.0,
    "last_visit" : None,
    "geometry" : "geometry object",
    "life_expect" : 82
}

In [ ]:
## check key membership with 'in' keyword
print("country" in attributes)

True

In [ ]:
key = "capital"
print(key in attributes)

True

In [ ]:
print(key in attributes.keys())

True

In [ ]:
## does its also check the values?
print("Ireland" in attributes)

False

In [ ]:
## check key membership with 'not in' keywords
print("country" not in attributes)
key = "avg_age"
print(key not in attributes)

False
True

In [ ]:
## check value membership
print("Ireland" in attributes.values())
print("France" in attributes.values())

True
False

In [ ]:
## Does a dictionary have a length?
attributes = {
    "country" : "Ireland",
    "capital" : "Dublin",
    "population" : 6500000,
    "continent" : "Europe",
    "avg_sum_temp" : 20.0,
    "last_visit" : None,
    "geometry" : "geometry object",
    "life_expect" : 82
}

In [ ]:
print(len(attributes))

8

In [ ]:
## 06.07 NESTED DICTIONARY
##  Dictionary inception.
##  You can have a dictionary inside and dictionary inside a dictionary.
##  You will often see JSON resembling Python dictionaries.
##
################################################################################

In [ ]:
pt_symbology = {
    "type": "simple",
    "symbol": {
        "type": "esriSMS",
        "color": [
            250,
            0,
            0,
            217
        ],
        "angle": 0,
        "xoffset": 0,
        "yoffset": 0,
        "size": 6,
        "style": "esriSMSCircle",
        "outline": {
            "type": "esriSLS",
            "color": [
                247,
                109,
                109,
                128
            ],
            "width": 1.125,
            "style": "esriSLSSolid"
        }
    }
}

In [ ]:
## print the "JSON" dictionary
print(pt_symbology)

{'type': 'simple', 'symbol': {'type': 'esriSMS', 'color': [250, 0, 0, 217], 'angle': 0, 'xoffset': 0, 'yoffset': 0, 'size': 6, 'style': 'esriSMSCircle', 'outline': {'type': 'esriSLS', 'color': [247, 109, 109, 128], 'width': 1.125, 'style': 'esriSLSSolid'}}}

In [ ]:
## print the keys and values
print(pt_symbology.keys())
print(pt_symbology.values())

dict_keys(['type', 'symbol'])
dict_values(['simple', {'type': 'esriSMS', 'color': [250, 0, 0, 217], 'angle': 0, 'xoffset': 0, 'yoffset': 0, 'size': 6, 'style': 'esriSMSCircle', 'outline': {'type': 'esriSLS', 'color': [247, 109, 109, 128], 'width': 1.125, 'style': 'esriSLSSolid'}}])

In [ ]:
## print a nested dictionary key/values
print(pt_symbology["symbol"].keys())
print(pt_symbology["symbol"].values())

dict_keys(['type', 'color', 'angle', 'xoffset', 'yoffset', 'size', 'style', 'outline'])
dict_values(['esriSMS', [250, 0, 0, 217], 0, 0, 0, 6, 'esriSMSCircle', {'type': 'esriSLS', 'color': [247, 109, 109, 128], 'width': 1.125, 'style': 'esriSLSSolid'}])

In [ ]:
## a dictionary within a dictionary, within another dictionary
print(pt_symbology["symbol"]["outline"])
print(pt_symbology["symbol"]["outline"].keys())

{'type': 'esriSLS', 'color': [247, 109, 109, 128], 'width': 1.125, 'style': 'esriSLSSolid'}
dict_keys(['type', 'color', 'width', 'style'])

In [ ]:
## 06.08 IMMUTABLE DICTIONARY KEYS
##  A dictionary key must be an immutable object such as number, string, tuple.
##  For example, a key cannot be a list or another dictionary because these
##  are mutable objects.
##
################################################################################

In [1]:
## immutable keys
a_dict = {1 : ""}

In [2]:
a_dict = {1 : "", 1.5 : ""}

In [3]:
a_dict = {1 : "", 1.5 : "", True : ""}

In [4]:
a_dict = {1 : "", 1.5 : "", True : "", "string" : ""}

In [5]:
a_dict = {1 : "", 1.5 : "", True : "", "string" : "", (0,0) : ""}

In [7]:
## mutable keys
## TypeError: unhashable type: 'list'
## a_dict = {1 : "", 1.5 : "", True : "", "string" : "", (0,0) : "", [0,0] : ""}

In [9]:
## mutable keys
## TypeError: unhashable type: 'dict'
## a_dict = {1 : "", 1.5 : "", True : "", "string" : "", (0,0) : "", {0:0} : ""}