<a href="https://colab.research.google.com/github/majaturkalj/python-journey/blob/main/07_SETS_Python_for_GIS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
################################################################################
## SETS
##  Sets are fantastic for getting unique values as they can only store distinct
##  values.
##  A set is an unordered collection of unique values/objects
##  Sets are mutable
##  Sets must only contain immutable objects
##
################################################################################

In [ ]:
## 07.01 CREATING A SET
## DECLARING A SET
## empty set
empty_set = set()
print(type(empty_set))
print(empty_set)

<class 'set'>
set()

In [ ]:
## populated set
num_set = {1,2,3,4,5}
print(num_set)

{1, 2, 3, 4, 5}

In [ ]:
num_set = {2,1,4,5,2,3,1,1,2,4,5}
print(num_set)

{1, 2, 3, 4, 5}

In [ ]:
mixed_set = {"string", (1,2), 10, 175.9}
print(mixed_set)

{10, (1, 2), 'string', 175.9}

In [ ]:
## CAST AN ITERABLE TO A SET
counties_list = ["Kildare", "Dublin", "Carlow", "Meath", "Kildare", "Meath"]
counties_set = set(counties_list)
print(counties_set)

{'Meath', 'Kildare', 'Dublin', 'Carlow'}

In [ ]:
## 07.02 CREATING A SETS FROM ITERABLES
## SETS FROM ITERABLES
##  Cast an interable to a set
##  The set() can take an iterable as a parameter

In [ ]:
## CAST FROM STRING
text = "Final Draft Mapping is the place to be for technical geospatial training"
unique_letters = set(text)
print(unique_letters)

{'f', 'D', 'h', 'c', 'i', 'p', 't', 'e', 'M', 'n', ' ', 'l', 'a', 'o', 'b', 'r', 'g', 's', 'F'}

In [ ]:
## CAST FROM TUPLE
coords = ((-6.27, 53.45), (-7.5, 54.87), (-6.27, 53.45), (-6.27, 53.45))
unique_pts = set(coords)
print(unique_pts)

{(-7.5, 54.87), (-6.27, 53.45)}

In [ ]:
## CAST FROM LIST
counties_list = ["Kildare", "Dublin", "Carlow", "Meath", "Kildare", "Meath"]
counties_set = set(counties_list)
print(counties_set)

{'Meath', 'Kildare', 'Dublin', 'Carlow'}

In [ ]:
## CREATE SET USEING SET()
## this will error with a TypeError
## my_set = set(1,2,3,4,5)
## needs to be an iterable
my_set = set([1,2,3,4,5])

In [ ]:
## 07.03 SET OPERATIONS
## SET OPERATIONS
##  | (union)
##      Uniques values across Set1 and Set2 (or multiple sets)
##  & (intersection)
##      Common values from Set1 and Set2 (or multiple sets)
##  - (difference)
##      Set1 without the values of Set2
##  ^ (symmetrical difference)
##      The union of sets without the common values. The opposite of intersection
##
## Reference: https://www.w3schools.com/python/python_ref_set.asp

In [ ]:
num_set_1 = {1,2,3,4,5}
num_set_2 = {4,5,6,7,8}

## UNION
union = num_set_1 | num_set_2
print(union)

{1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
## INTERSECTION
intersection = num_set_1 & num_set_2
print(intersection)

{4, 5}

In [ ]:
## DIFFERENCE
difference = num_set_1 - num_set_2
print(difference)

{1, 2, 3}

In [ ]:
## SYMMETRICAL DIFFERENCE
sym_difference = num_set_1 ^ num_set_2
print(sym_difference)

{1, 2, 3, 6, 7, 8}

In [ ]:
## 07.04 SET MEMBERSHIP
## SET LENGTH & MEMBERSHIP
## Check membership with in or not in, always returns a Boolean

In [ ]:
counties_set = {"Meath", "Dublin", "Kildare", "Carlow"}
print(len(counties_set))

4

In [ ]:
## check membership with 'in' keyword
counties_set = {"Meath", "Dublin", "Kildare", "Carlow"}
print("Kildare" in counties_set)

True

In [ ]:
counties_set = {"Meath", "Dublin", "Kildare", "Carlow"}
county = "Sligo"
print(county in counties_set)

False

In [ ]:
## check membership with 'not in' keywords
counties_set = {"Meath", "Dublin", "Kildare", "Carlow"}
print("Kildare" not in counties_set)

False

In [ ]:
## check membership with 'not in' keywords
counties_set = {"Meath", "Dublin", "Kildare", "Carlow"}
county = "Sligo"
print(county not in counties_set)

True

In [ ]:
my_set = {"Kildare"}
counties_set = {"Meath", "Dublin", "Kildare", "Carlow"}
print(my_set.issubset(counties_set))

True

In [ ]:
## 07.05 SET METHODS
## Set methods in Python are built-in functions that are specific to
## sets and allow you to perform various operations on set
## objects. These methods provide convenient ways to manipulate and extract
## information from a set, along with performing set operations.

In [ ]:
counties_set_1 = {"Kildare", "Dublin", "Carlow", "Meath", "Sligo"}
counties_set_2 = {"Wateford", "Sligo", "Donegal", "Cork", "Carlow"}

################################################################################
## cannot access with indexing
## this will throw an error.
print(counties_set_1[2])

In [ ]:
## add()
counties_set_1 = {"Kildare", "Dublin", "Carlow", "Meath", "Sligo"}
counties_set_1.add("Cork")
print(counties_set_1)

{'Kildare', 'Sligo', 'Carlow', 'Cork', 'Dublin', 'Meath'}

In [ ]:
## remove()
counties_set_1 = {"Kildare", "Dublin", "Carlow", "Meath", "Sligo"}
counties_set_1.remove("Dublin")
print(counties_set_1)

{'Kildare', 'Sligo', 'Carlow', 'Meath'}

In [ ]:
## union() (|)
counties_set_3 = {"Kildare", "Dublin", "Carlow", "Meath", "Sligo"}
counties_set_4 = {"Wateford", "Sligo", "Donegal", "Cork", "Carlow"}
union = counties_set_3.union(counties_set_4)
print(union)

{'Kildare', 'Carlow', 'Dublin', 'Meath', 'Cork', 'Donegal', 'Sligo', 'Wateford'}

In [ ]:
## intersection() (&)
counties_set_5 = {"Kildare", "Dublin", "Carlow", "Meath", "Sligo"}
counties_set_6 = {"Wateford", "Sligo", "Donegal", "Cork", "Carlow"}
intersection = counties_set_5.intersection(counties_set_6)
print(intersection)

{'Carlow', 'Sligo'}

In [ ]:
counties_set_7 = {"Kildare", "Dublin", "Carlow", "Meath", "Sligo", "Cork"}
counties_set_8 = {"Wateford", "Sligo", "Donegal", "Cork", "Carlow"}
## intersection_update()
counties_set_7.intersection_update(counties_set_8)
print(counties_set_7)

{'Sligo', 'Carlow', 'Cork'}

In [ ]:
## 07.06 FROZEN SETS
##  Python also provides an immutable variant of sets called "frozensets" which
##  are created using the frozenset() constructor. Frozen sets are hashable
##  meaning they can be used as dictionary keys or elements of other sets.

In [1]:
## CREATING A FROZEN SET
frozen_numset = frozenset({1,2,3,4,5})
print(type(frozen_numset))
print(frozen_numset)

<class 'frozenset'>
frozenset({1, 2, 3, 4, 5})

In [ ]:
## this will throw an AttributeError
##frozen_numset.add(6)

## this will throw a type error
##numset.add({1,2,3})

In [3]:
numset = {6,7,8,9,10}
numset.add(frozen_numset)
print(numset)

{frozenset({1, 2, 3, 4, 5}), 6, 7, 8, 9, 10}