<a href="https://colab.research.google.com/github/majaturkalj/python-journey/blob/main/08_Operators.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
## 08.01 Numerical Operators
################################################################################
## NUMBERS & OPERATORS
##  There are two main numerical data types in Python; integer and float.
##   - Integers are whole numbers without a decimal point.
##   - Floats are numbers with decimal points.
##  You can also use complex numbers for complex maths equations.
##
##  Operators are special symbols that represent computations like addition and
##  multiplication. The values the operator is applied to are called operands.
##
################################################################################

In [ ]:
## ADDITION: +
num_1, num_2 = 5, 7
res_1 = num_1 + num_2
print(res_1)

12

In [ ]:
## SUBTRACTION: -
num_1, num_2 = 5, 7
res_1 = num_2 - num_1
print(res_1)

2

In [ ]:
## MULTIPLICATION
num_1, num_2 = 5, 7
res_1 = num_1 * num_2
print(res_1)

35

In [ ]:
## DIVISION: / or // (floor division, rounds down to the nearest integer)
num_3, num_4 = 12, 5
res_2 = num_3 / num_4
res_3 = num_3 // num_4
print(res_2)
print(res_3)

2.4
2

In [ ]:
## MODULUS: % (returns a remainder after division)
num_3, num_4 = 12, 5
res_2 = num_3 % num_4
print (res_2)

2

In [ ]:
## EXPONENTIATION: ** (to the power of)
num_3, num_4 = 12, 5
res_2 = num_3 ** num_4
print (res_2)

248832

In [ ]:
## 08.02 Numerical Operators Precedence
## OPERATOR PRECEDENCE
##  Follows the PEMDAS order, equations are evaluated in the following order...
##
##  P-arenthesis
##  E-xponentiation
##  M-ultiplication
##  D-ivision
##  A-ddition
##  S-ubtraction
##
##  ...however, Multiplication and Division have the same precendence, as do
##  Addition and Subtraction. Operators with the same precedence are
##  evaluated from left to right.
##
################################################################################

In [ ]:
result = 5 + (10 / 2) - 2 * 10**2
print(result)

-190.0

In [ ]:
result_1 = (20 / 4) * (100 / 5) - 50 + 25
result_2 = (2**4 + 7 - 2 - 3 * 2) - (10 * 5 - (10 * 4)) + 10
print(result_1)
print(result_2)

75.0
15

In [ ]:
## 08.03 Comparison Operators
##  Compare two values and return a Boolean result.

In [ ]:
## EQUAL TO: ==
print(10 == 10)
print(10 == 11)
print(10 == 10.0)
print(10 == 10.4)
print("Ireland" == "Ireland")
print("Ireland" == "ireland")
print([1,2] == [1,2])
print([1,2] == (1,2))

True
False
True
False
True
False
True
False

In [ ]:
## NOT EQUAL TO: !=
print(10 != 10)
print(10 != 11)
print(10 != 10.0)
print(10 != 10.4)
print("Ireland" != "Ireland")
print("Ireland" != "ireland")
print([1,2] != [1,2])
print([1,2] != (1,2))

False
True
False
True
False
True
False
True

In [ ]:
## GREATER THAN: >
print(10 > 10)
print(10 > 9)
print(10.1 > 10)
print("Ireland" > "England")
print("Ireland" > "england")
print("Ireland" > "IreLand")
print([1,2] > [1,2])
print([0,2] > [1,2])
print([1,3] > [1,2])

False
True
True
True
False
True
False
False
True

In [ ]:
## LESS THAN: <
print(10 < 10)
print(10 < 9)
print(10.1 < 10)
print("Ireland" < "England")
print("Ireland" < "england")
print("Ireland" < "IreLand")
print([1,2] < [1,2])
print([0,2] < [1,2])
print([1,3] < [1,2])

False
False
False
False
True
False
False
True
False

In [ ]:
## GREATER THAN OR EQUAL TO: >=
print(10 >= 10)
print(10 >= 8)
print(10 >= 15)
print("Ireland" >= "England")
print("Ireland" >= "england")

True
True
False
True
False

In [ ]:
## LESS THAN OR EQUAL TO: <=
print(10 <= 10)
print(10 <= 8)
print(10 <= 15)
print("Ireland" <= "England")
print("Ireland" <= "england")

True
False
True
False
True

In [ ]:
## IS THE SAME AS: is (for identity comparison, not value comparison)
x = [1, 2]
y = [1, 2]
print(x == y)
print(x is y)

True
False

In [ ]:
y = x
print(x is y)

True

In [ ]:
## IS NOT THE SAME AS: is not (for identity comparison, not value comparison)
x = [1, 2]
y = [1, 2]
print(x is not y)

True

In [ ]:
y = x
print(x is not y)

False

In [ ]:
################################################################################
## 08.04 LOGICAL OPERATORS
##  These operators are used to perform logical operations on Boolean values,
##
################################################################################

In [1]:
## LOGICAL AND: and (returns True if both operands are True)
population = 2500
area = 100000

print(population < 10000 and area > 50000)
print(population > 10000 and area > 50000)

True
False

In [2]:
## LOGICAL OR: or (returns True if at least one operand is True)
counties_1 = ["Kildare", "Carlow", "Dublin", "Meath"]
counties_2 = ["Clare", "Sligo", "Galway"]

print("Kildare" in counties_1 or "Galway" in counties_2)
print("Galway" in counties_1 or "Galway" in counties_2)
print("Galway" in counties_1 or "Cork" in counties_2)

True
True
False

In [3]:
## LOGICAL NOT: not (negates a Boolean value)
result = True

print(not result)
print(not ("Galway" in counties_1 or "Cork" in counties_2))

False
True

In [6]:
counties_1 = ["Kildare", "Carlow", "Dublin", "Meath"]
counties_2 = ["Clare", "Sligo", "Galway"]
result_1 = ("Cork" in counties_1 or "Galway" in counties_2) or ("Cork" in counties_1 or "Dublin" in counties_2)
result_2 = ("Cork" in counties_1 or "Galway" in counties_2) and ("Cork" in counties_1 or "Dublin" in counties_2)
print(result_1)
print(result_2)

True
False

In [ ]:
################################################################################
## 08.05 SHORT-CIRCUIT EVALUATION
##  The Python interpreter doesn't always evaluate both sides of the logical
##  expression, instead, it stops as soon as it can determine the result based
##  on the rules of the operator. It is the act of ignoring the execution of
##  Boolean expression that will have no effect on the final result.
##
##  Short-circuiting saves processing time.
##
################################################################################

In [ ]:
## EXAMPLE: LOGICAL AND
##  In a LOGICAL AND expression, both operands must be True in order for the
##  the entire expression to be True. Therefore, if the left operand is False,
##  then the entire expression is False and there is no need to evaluate the
##  right operand, and Python will stop and return False.
##  If the left operand is True, Python proceeds to evaluate the right operand
##  to determine the result.

num_1 = 7
num_2 = 0

# Using logical AND short-circuiting
if num_1 / num_2 > 2 and num_2 == 0:
    print("This will not be executed because an error")

if num_1 / num_2 > 2 and num_2 != 0:
    print("This will not be executed because the if returns False")

In [ ]:
## EXAMPLE: LOGICAL OR
##  In a LOGICAL OR expression, if the left operand is True then the entire
##  expression is True, and therefore no need to evaluate the right operand.
##  If the left operand is False, Python must proceed to evaluate the right
##  operand to determine the result.

# Using logical OR short-circuiting
if num_2 == 0 or num_1 / num_2 > 2:
    print("This will be executed because of short-circuiting")

if num_2 != 0 or num_1 / num_2 > 2:
    print("This will not be executed because of an error")