<a href="https://colab.research.google.com/github/majaturkalj/python-journey/blob/main/Python_for_GIS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

VARIABLES

In [ ]:
#VARIABLES
population = 5000000
country = "Ireland"
animal = "Dog"
colour = "Green"

#Assigning Multiple Variables on a Single Line
population, country, animal, colour = 500000, "Ireland", "dog", "Green"

PRINT FUNCTION

In [ ]:
# print using a string literal
print("Hello, Geospatial World")

Hello, Geospatial World

In [9]:
# use the sep parameter
print("Hello, Geospatial World", "my name is Glen", sep="-")

Hello, Geospatial World-my name is Glen

In [ ]:
# print using number literal
print(5)

# print using arithmetic (addition)
print(5+4)

# string concatenation
print("Hello" + " Students")

5
9
Hello Students

In [ ]:
# printing with variables
country = "Ireland"
county = "Dublin"
population = 1458154
print(county, "is the capital city of", country, "and the population is", population)

Dublin is the capital city of Ireland and the population is 1458154

In [ ]:
# using the end parameter
print("hi, ", end="")
print("welcome to this course")

hi, welcome to this course

In [ ]:
# some more arithmetic
print(10-2) #subtraction
print(10/2) # division
print(10*2) # multiplication
print(10**2) # exponentiation

8
5.0
20
100

In [ ]:
# attempt to mix-match single and double quotes
print("This will result in an error')

In [10]:
#printing expressions
coniferous_tree_count = 347
deciduous_tree_count = 294
print("Total Tree Count:", coniferous_tree_count + deciduous_tree_count)

Total Tree Count: 641

COMMENTS

In [11]:
# this is a single line comment
print("I was executed after the single line comment was ignored")

''' I am a multi
line comment, I am also ignored by python'''
print("Printed after multi-line comment")

""" I am another
multi
line
comment
"""

input_fc = "C:/path/to/fc" # this must be a shapefile
print(input_fc) # we printed the fc path

I was executed after the single line comment was ignored
Printed after multi-line comment
C:/path/to/fc

In [15]:
county = "Kildare"
country = "Ireland"
print(county, country, sep=", ")

Kildare, Ireland

In [17]:
county = "Kildare"
country = "Ireland"
''' I am a multi
line comment, I am also ignored by python'''
county = "Yorkshire"
country = "England"

print(county, country, sep=", ")

Yorkshire, England

LINE CONTINUATION

In [19]:
expression = 5

expression = (5 + 10 + 35)

expression = (5 +
              10 +
              35)
print(expression)

50

In [ ]:
my_string = "This is a very long string that \
requires me to use explicit line continuation"

my_string = ("This is a very long string that"
"requires me to use explicit line continuation")

print(my_string)