<a href="https://colab.research.google.com/github/majaturkalj/python-journey/blob/main/Python_for_GIS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

VARIABLES

In [ ]:
#VARIABLES
population = 5000000
country = "Ireland"
animal = "Dog"
colour = "Green"

#Assigning Multiple Variables on a Single Line
population, country, animal, colour = 500000, "Ireland", "dog", "Green"

PRINT FUNCTION

In [1]:
# print using a string literal
print("Hello, Geospatial World")

Hello, Geospatial World

In [2]:
# use the sep parameter
print("Hello, Geospatial World, my name is Glen", sep="-")

Hello, Geospatial World, my name is Glen

In [3]:
# print using number literal
print(5)

# print using arithmetic (addition)
print(5+4)

# string concatenation
print("Hello" + " Students")

5
9
Hello Students

In [4]:
# printing with variables
country = "Ireland"
county = "Dublin"
population = 1458154
print(county, "is the capital city of", country, "and the population is", population)

Dublin is the capital city of Ireland and the population is 1458154

In [5]:
# using the end parameter
print("hi, ", end="")
print("welcome to this course")

hi, welcome to this course

In [7]:
# some more arithmetic
print(10-2) #subtraction
print(10/2) # division
print(10*2) # multiplication
print(10**2) # exponentiation

8
5.0
20
100

In [ ]:
# attempt to mix-match single and double quotes
print("This will result in an error')